<% if user_signed_in? && current_user.super_admin? %>
	<h1>Editing Feed</h1>

	<%= render 'form' %>

	<%= link_to 'Show', @feed %> |
	<%= link_to 'Back', feeds_path %>
<% else %>
	<h1>Nothing to see here</h1>
<% end %>