<% if @book.comments.where(:user_id => current_user.id).count > 0 %>
	<br />
	<strong>USER NOTES</strong>
<% end %>
<ul>
	<% @book.comments.where(:user_id => current_user.id).order(created_at: :desc).each do |comment| %>
		<li>
			<%= comment.content %> (<small>added <%= local_time(comment.created_at) %></small>)
			<%= link_to book_comment_path(@book, comment), method: :delete, data: { confirm: "Are you sure?" }, remote: true do %>
				<i class="fa fa-remove"></i>
			<% end %>
		</li>
	<% end %>
</ul>