/* line 5, E:/Sites/valiantdb/app/assets/stylesheets/activities.css.scss */
#stream a {
  font-style: italic;
  font-weight: bold;
}

/* line 10, E:/Sites/valiantdb/app/assets/stylesheets/activities.css.scss */
#streambooks a {
  font-style: italic;
  font-weight: bold;
}

/* line 15, E:/Sites/valiantdb/app/assets/stylesheets/activities.css.scss */
.stream-box {
  margin-bottom: 0.5em;
}

/* line 19, E:/Sites/valiantdb/app/assets/stylesheets/activities.css.scss */
.time {
  opacity: 0.5;
}

/* line 23, E:/Sites/valiantdb/app/assets/stylesheets/activities.css.scss */
.stream-rating .raty-cancel {
  display: none;
}
