/* line 1, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.place {
  z-index: 2;
  position: absolute;
}

/* Profile container */
/* line 6, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile {
  margin-top: -5px;
}

/* line 10, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.grayicon {
  color: #ecf0f1 !important;
}

/* Profile sidebar */
/* line 15, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-sidebar {
  background: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

/* line 21, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-sidebar2 {
  background: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

/* line 27, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
#profile-box {
  background: #fff;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.12), 0 2px 3px rgba(0, 0, 0, 0.24);
}

@media (max-width: 767px) {
  /* line 34, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100%;
  }
}
@media (min-width: 768px) {
  /* line 42, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100%;
    min-height: 150px;
  }
}
@media (min-width: 1028px) {
  /* line 51, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 100%;
    min-height: 160px;
    z-index: 1;
  }
}
/* line 60, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

/* line 65, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
  margin-top: -32px;
}

/* line 73, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usertitle-name2 {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

/* line 80, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

/* line 88, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

/* line 93, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

/* line 101, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}

/* line 105, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usermenu {
  margin-top: 5px;
}

/* line 109, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

/* line 113, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usermenu ul li:last-child {
  border-bottom: none;
}

/* line 117, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

/* line 123, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

/* line 128, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

/* line 133, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usermenu ul li.active {
  border-bottom: none;
}

/* line 137, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
/* line 145, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.profile-content {
  margin-top: 0;
  padding: 5px 20px 20px 20px;
  min-height: 460px;
}

@media (max-width: 1023px) {
  /* line 152, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  #view-more {
    border: 1px #ccc solid;
    width: 100%;
    border-radius: 15px;
  }
}
@media (min-width: 1024px) {
  /* line 160, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  #view-more {
    border: 1px #ccc solid;
    width: 50%;
    border-radius: 15px;
  }
}
/* line 167, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
#view-more a {
  color: #6C7A89;
  font-weight: bolder;
  font-size: 1.25em;
}

/* line 173, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
#view-more a:hover {
  color: #6C7A89;
  font-style: italic;
  font-weight: bolder;
  font-size: 1.25em;
}

/* line 179, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.online-button {
  z-index: 900;
}

/* line 182, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.online-button button {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes greenPulse {
  /* line 189, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  from {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }

  /* line 190, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  50% {
    background-color: #91bd09;
    -webkit-box-shadow: 0 0 18px #91bd09;
  }

  /* line 191, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  to {
    background-color: #749a02;
    -webkit-box-shadow: 0 0 9px #333;
  }
}

/* line 196, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
.offline-button button {
  -webkit-animation-name: redPulse;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes redPulse {
  /* line 203, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  from {
    background-color: #e74c3c;
    -webkit-box-shadow: 0 0 9px #e74c3c;
  }

  /* line 204, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  50% {
    background-color: #c0392b;
    -webkit-box-shadow: 0 0 18px #c0392b;
  }

  /* line 205, E:/Sites/valiantdb/app/assets/stylesheets/users.css.scss */
  to {
    background-color: #e74c3c;
    -webkit-box-shadow: 0 0 9px #e74c3c;
  }
}
