<br />
<ul class="list-unstyled" id="stream">
	<% if @user.followees(User).count == 0 %>
		<li class="white">No recent friend activity. Try <%= link_to users_all_path do %>following other users<% end %> to see their activity.</li>
	<% else %>
		<%= render "streamitem", collection: @activities %>
	<% end %>
</ul>

<% unless @activities.current_page == @activities.total_pages %>
  <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
  	<p id="view-more" class="text-center">
   		<%= link_to('See more activities', url_for(page: @activities.current_page + 1), remote: true) %>
  	</p>
  </div>
<% end %>