<div class="well">
<div class="row"> 
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'mailbox/folders' %>
        <br />
        <%= link_to new_conversation_path, class: "btn btn-success col-md-12" do %> <span class="glyphicon glyphicon-pencil"></span> New Message<% end %>
      </div>
    </div>
  </div>
 
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-body">
        <% if is_conversation %>
          <%= render 'conversations/form' %>
        <% else %>
            <%= render partial: 'conversations/conversation', collection: messages %>
        <% end %>
      </div>
    </div>
  </div>
 
</div>
</div>