<div class="col-md-12 col-sm-12 col-xs-12">
  <iframe src="https://kiwiirc.com/client/irc.freenode.net/?nick=<%= current_user.slug %>|?#valiantdb" style="border:0; width:100%; height:600px;"></iframe>
</div>
