<div class="container-fluid">
	<div class="row">

	 <div class="col-md-12 col-sm-12 col-xs-12" id="chat-window">
	   <h2 class="white">Welcome to chat!</h2>
	   <div class="col-md-10 col-sm-8 col-xs-12">
		   <div id="messages">
		   </div>
		   <input id="chat-input" type="text" placeholder="  Type your message here!" autofocus/>
	   </div>
	   <div class="col-md-2 col-sm-4">
			<div id="chatusers">
				<% account_sid = ENV['API_KEY_SID'] %>
				<% auth_token = ENV['API_KEY_SECRET'] %>
				<% ip_messaging_client = Twilio::REST::IpMessagingClient.new(account_sid, auth_token) %>
				<% service = ip_messaging_client.services.get(ENV['IPM_SERVICE_SID']) %>
				<% users = service.users.list() %>
				<h2>Users Online</h2>
				<ul class="list-unstyled">
					<% users.each do |u| %>
						<% if u.identity == current_user.name %>
							<li class="me">
								<small><%= u.identity %></small>
							</li>
						<% else %>
							<li class="notme">
								<% User.where("name like ?", "#{u.identity}").each do |v| %>
									<small><%= link_to root_url + "users/" + v.slug + "/profile" do %><%= u.identity %><% end %></small>
								<% end %>
							</li>
						<% end %>
					<% end %>
				</ul>
			</div>
	   </div>
	 </div>
	</div>
</div>