<div class="col-md-12 col-sm-12 col-xs-12 white-bg">
	<h2 class="text-center">User Levels</h2>
	<p>Below you will find the various levels users can achieve on the site. Points are awarded for various activities such as adding books to your various collections or wishlists, being a regular site visitor, becoming a patron, adding notes or ratings to books, etc. Most of the level titles come from the structure set up at the Harbinger Foundation by Toyo Harada. You can read a little more about these levels in Harbinger #3.</p>
	<table class="table table-responsive table-hover">
		<thead>
			<tr>
				<td><strong>Level</strong></td>
				<td><strong>Name</strong></td>
				<td class="text-center"><strong>Points Required</strong></td>
				<% if user_signed_in? && current_user.super_admin? %>
					<td class="text-right"><strong>No. of Users</strong></td>
				<% end %>
			</tr>
		</thead>
		<tbody>
			<% Level.all.each do |l| %>
				<tr>
					<td><%= l.id %></td>
					<td><strong><%= l.display_name %></strong></td>
					<td class="text-center"><%= l.required_score %></td>
					<% if user_signed_in? && current_user.super_admin? %>
						<td class="text-right"><%= l.users.count %></td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>