<div class="col-md-12 col-sm-12 col-xs-12 white-bg">
	<h2 class="text-center">Support Valiant Database!</h2>
	<p>I know what you're thinking, "Man, this site is so awesome, how can I make sure that Martin continues developing and expanding it?" I'm glad you asked! There are a few ways to can support our efforts on this site, and some won't even cost you a dime! By become a patron, you will also receive the following extra features:</p>
	<ul>
		<li>Access to the price guide (currently Valiant only)</li>
		<li>Higher collection limits</li>
		<li>Additional book information</li>
		<li>No advertising, ever</li>
		<li>A patron badge on your profile page to show off that you're one of the cool kids</li>
		<li>Early access to new features</li>
		<li>...and more!</li>
	</ul>
	<hr />
		<div class="col-md-6 col-sm-6 col-xs-12">
			<h3>Support us on <a href="http://www.patreon.com/comicark">Patreon</a></h3>
			<p>What is <a href="http://www.patreon.com/comicark">Patreon</a>? Patreon is a way to pay your favorite creators for making the stuff you love.  Instead of literally throwing money at your screen (trust us, that doesn’t work), you can now pledge a few bucks per thing that a creator makes.</p>
			<p>We have a few different levels for our patrons starting at just $1/month and up to $500 per month, though you can donate as much or as little as you want. Patrons are charged monthly and also receive access to the "secret" mailing list all the cool kids want to be on.</p>
			<a title="Become a Patron" href="https://www.patreon.com/comicark?ty=h">
					<img alt="Patreon" src="https://s3.amazonaws.com/valiantdb/images/patreon-button.png" />
				</a>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-12">
			<br />
			<style>.embed-container { position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden; max-width: 100%; } .embed-container iframe, .embed-container object, .embed-container embed { position: absolute; top: 10; left: 0; width: 100%; height: 100%; }</style><div class='embed-container'><iframe src='https://www.youtube.com/embed//wH-IDF809fQ' frameborder='0' allowfullscreen></iframe></div>
		</div>
		<div class="clearfix"></div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3>Support us via Paypal</h3>
			<p>So maybe you don't want to use Patreon to support us, but you have a Paypal account? Check out the links below, one for US folks and one for you lovely Canadians. You may miss out on some of the Patreon announcements but I will gladly add you to a mailing list for announcements if you so wish.</p>
				<div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>US only</h4>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="8V8VNB96KMMKL">
							<table>
							<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
								<option value="Support the site">Support the site : $1.00 USD - monthly</option>
								<option value="Early access supporter">Early access supporter : $3.00 USD - monthly</option>
								<option value="You're a producer!">You're a producer! : $5.00 USD - monthly</option>
								<option value="Become a sponsor">Become a sponsor : $20.00 USD - monthly</option>
							</select> </td></tr>
							</table>
							<input type="hidden" name="currency_code" value="USD">
							<input type="image" src="https://s3.amazonaws.com/valiantdb/images/paypaldonate.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<h4>Canada only</h4>
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="LUN2TFRBKRV48">
							<table>
							<tr><td><input type="hidden" name="on0" value=""></td></tr><tr><td><select name="os0">
								<option value="Support the site">Support the site : $1.00 CAD - monthly</option>
								<option value="Early access supporter">Early access supporter : $3.00 CAD - monthly</option>
								<option value="You're a producer!">You're a producer! : $5.00 CAD - monthly</option>
								<option value="Become a sponsor">Become a sponsor : $20.00 CAD - monthly</option>
							</select> </td></tr>
							</table>
							<input type="hidden" name="currency_code" value="CAD">
							<input type="image" src="https://s3.amazonaws.com/valiantdb/images/paypaldonate.png" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
						</form>
					</div>
				</div>
		</div>
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h3>Support us on Amazon</a></h3>
			<p>Amazon.com has an excellent affiliate program. If you shop there, please change your Amazon bookmark with the appropriate ComicArk affiliate link below. Anything you buy on Amazon with that affiliate code (becauseicant-20)will give the Valiant Database a commission that ranges from 4% to 8% or even more!</p>
			<ul class="text-center list-inline">
				<li><a target="_blank" href="http://www.amazon.com/ref=as_li_ss_tl?_encoding=UTF8&camp=1789&creative=390957&linkCode=ur2&tag=becauseicant-20&linkId=35EVVG6RGXUXPDWT"><img src="https://s3.amazonaws.com/valiantdb/images/amazonbanner.jpg" alt="Amazon" /></a><img src="https://ir-na.amazon-adsystem.com/e/ir?t=becauseicant-20&l=ur2&o=1" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></li>
			</ul>
		</div>
</div>
