<div class="container well">
  <h2 class="center">Thank you for your message.</h2>
  <p class="center">Your message was sent and we'll get back to you shortly.</p>
  <p class="center text-center">
  	<%= link_to "http://www.valiantdatabase.com", data: { toggle: "tooltip" }, :title => "Back to main page" do %><%= image_tag "http://valiantcentral.com/wp-content/uploads/2014/06/vblogo.png", alt: "Valiant Database", class: "img-responsive center" %><% end %>
  </p>
</div>
