<div class="wellclear">
  <% if user_signed_in? %>
	<h1>New Book</h1>
	<%= render 'form' %>
	<%= link_to 'Back', books_path %>
  <% else %>
	<h1 class="text-center">You're not supposed to be here!</h1>
	<h2 class="text-center">Head back to <%= link_to "the database", all_books_path %>, I won't say anything.</h2>
  <% end %>
</div>