<div class="container-fluid">
  <h3>Valiant publication timeline (2012-)</h3>
        <%= timeline [
                      ["Armor Hunters", "2014-06-11", "2014-10-01"],
                      ["Archer & Armstrong", "2012-08-08", "2014-10-09"],
                      ["Bloodshot", "2012-07-11", "2014-11-05"],
                      ["Bloodshot: Reborn", "2015-04-15", "#{DateTime.now}"],
                      ["Book of Death", "2015-07-15", "2015-10-28"],
                      ["Death Defying Dr. Mirage", "2014-09-03", "2015-01-14"],
                      ["Divinity", "2015-02-11", "#{DateTime.now}"],
                      ["Eternal Warrior", "2013-09-11", "2014-04-23"],
                      ["Harbinger", "2012-06-06", "2014-07-26"],
                      ["Harbinger Wars", "2013-04-03", "2013-08-07"],
                      ["Imperium", "2015-02-04", "#{DateTime.now}"],
                      ["Ivar, Timewalker", "2015-01-21", "#{DateTime.now}"],
                      ["Ninjak", "2015-03-11", "#{DateTime.now}"],
                      ["Quantum & Woody", "2013-06-10", "2014-07-02"],
                      ["Rai", "2014-04-30", "#{DateTime.now}"],
                      ["Shadowman", "2012-11-07", "2014-06-25"],
                      ["The Delinquents", "2014-08-20", "2014-11-26"],
                      ["The Valiant", "2014-12-10", "2015-03-25"],
                      ["Unity", "2013-11-13", "#{DateTime.now}"],
                      ["X-O Manowar", "2012-05-02", "#{DateTime.now}"]
                    ], height: "1000px" %>
                  </div>