
	<div id="books" align="center">
	<h3 class="white text-center page">
	      <span class="pull-right">
					<% if params[:date].present? %>
		        <%= link_to releases_solicitations_path(date: @date.strftime('%m-%Y'), format: "csv"), :class => "btn btn-success btn-sm" do %>
		            <span class="fa fa-download"></span> <span class="gone">Export Releases!</span>
		        <% end %>
					<% else %>
						<%= link_to releases_solicitations_path(params[:date], format: "csv"), :class => "btn btn-success btn-sm" do %>
								<span class="fa fa-download"></span> <span class="gone">Export Releases!</span>
						<% end %>
					<% end %>
	      </span>
	</h3>
	<div class="clearfix"></div>

	<div class="container wellclear">
			<div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
				<h3><%= @pgtitle %></h3>
				<p>Breakdown of releases by category -
					<strong><%= @newbooks.where(:category => "Default").count %></strong> titles, <strong><%= @newbooks.where(:category => "Variant").count %></strong> variant covers, <strong><%= @newbooks.where(:category => "Paperback").count %></strong> trades, and <strong><%= @newbooks.where(:category => "Hardcover").count %></strong> deluxe hardcovers.
				</p>
				<p><strong>NOTE:</strong> Remember that covers with order ratios <strong>DO NOT</strong> have Diamond order codes available. This page only displays order codes for A covers. If you would like to see B and C cover codes, please click on their respective images below.</p>
				<% @newbooks.where.not(:category => "Variant").each do |upcoming| %>
					<div class="col-md-3 col-sm-4 col-xs-12">
						<% if upcoming.category == "Paperback" %>
							<%= link_to "https://www.valiantdatabase.com/books/" + upcoming.slug.to_s, :title => upcoming.title.to_s + " Vol. " + upcoming.issue.to_s + " TPB cover by " + upcoming.cover.to_s.to_s, :target => "_blank" do %><%= image_tag upcoming.image.url(:original), :alt => upcoming.title + " cover by " + upcoming.cover.to_s.to_s,  class: "img-responsive" %><% end %>
						<% elsif upcoming.category == "Hardcover" %>
							<%= link_to "https://www.valiantdatabase.com/books/" + upcoming.slug.to_s, :title => upcoming.title.to_s + " Vol. " + upcoming.issue.to_s + " Deluxe HC cover by " + upcoming.cover.to_s.to_s, :target => "_blank" do %><%= image_tag upcoming.image.url(:original), :alt => upcoming.title + " cover by " + upcoming.cover.to_s,  class: "img-responsive" %><% end %>
						<% else %>
							<%= link_to "https://www.valiantdatabase.com/books/" + upcoming.slug.to_s, :title => upcoming.title.to_s + " #" + upcoming.issue.to_s + " cover by " + upcoming.cover.to_s, :target => "_blank" do %><%= image_tag upcoming.image.url(:original), :alt => upcoming.title + " cover by " + upcoming.cover.to_s,  class: "img-responsive" %><% end %>
						<% end %>
						<br /><br />
					</div>
					<div class="col-md-9 col-sm-8 col-xs-12 text-left">
						<% if upcoming.category == "Paperback" %>
							<%= link_to "https://www.valiantdatabase.com/books/" + upcoming.slug.to_s, :title => upcoming.title.to_s + " Vol. " + upcoming.issue.to_s + " TPB cover by " + upcoming.cover.to_s, :target => "_blank" do %>
								<h4><%= upcoming.title.to_s + " Vol. " + upcoming.issue.to_s + " TPB" %></h4>
							<% end %>
						<% elsif upcoming.category == "Hardcover" %>
							<%= link_to "https://www.valiantdatabase.com/books/" + upcoming.slug.to_s, :title => upcoming.title.to_s + " Vol. " + upcoming.issue.to_s + " Deluxe HC cover by " + upcoming.cover.to_s, :target => "_blank" do %>
								<h4><%= upcoming.title.to_s + " Vol. " + upcoming.issue.to_s + " HC" %></h4>
							<% end %>
						<% else %>
							<%= link_to "https://www.valiantdatabase.com/books/" + upcoming.slug.to_s, :title => upcoming.title.to_s + " #" + upcoming.issue.to_s + " cover by " + upcoming.cover.to_s, :target => "_blank" do %>
								<h4><%= upcoming.title.to_s + " #" + upcoming.issue.to_s %></h4>
							<% end %>
						<% end %>
						<p>
							Written by <%= link_to upcoming.writer.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&writer=#{upcoming.writer}" %>
								<% if upcoming.writer2? %> and <%= link_to upcoming.writer2.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&writer=#{upcoming.writer2}" %><% end %><br />
							Art by <%= link_to upcoming.artist.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&artist=#{upcoming.artist}" %>
								<% if upcoming.artist2? %> and <%= link_to upcoming.artist2.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&artist=#{upcoming.artist2}" %><% end %><br />
							<% if upcoming.colors? %>
								Colors by <%= link_to upcoming.colors.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&colors=#{upcoming.colors}" %><br />
							<% end %>
							<% if upcoming.category == "Paperback" %>
								Cover by <%= link_to upcoming.cover.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&cover=#{upcoming.cover}" %><br />
							<% elsif upcoming.category == "Hardcover" %>
								Cover by <%= link_to upcoming.cover.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&cover=#{upcoming.cover}" %><br />
							<% elsif upcoming.category == "Promo" %>
								Cover by <%= link_to upcoming.cover.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&cover=#{upcoming.cover}" %><br />
							<% else %>
								Covers by <%= link_to upcoming.cover.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&cover=#{upcoming.cover}" %>
								<% if upcoming.category == "Default" %>
									<% Book.where(:title => upcoming.title).where(:issue => upcoming.issue).where(rdate: (upcoming.rdate - 1.month)..(upcoming.rdate + 1.month)).where(:category => "Variant").where.not(:id => upcoming.id).each do |related| %>, <%= link_to related.cover.to_s, "https://www.valiantdatabase.com/books?utf8=%E2%9C%93&cover=#{related.cover}" %>
								<% end %><br />
							<% end %>
							<% end %>
							<% if upcoming.letters? %>
								Letters by <%= upcoming.letters.to_s %><br />
							<% end %>
							Price: US $<%= upcoming.price_in_dollars %><br />
							<% unless upcoming.code.blank? %>Diamond Order Code: <%= upcoming.code.to_s.upcase %><br /><% end %>
							<% if upcoming.rdate.future? %>
								Coming <%= upcoming.rdate.strftime("%B %d, %Y") %><br />
							<% else %>
								Released <%= upcoming.rdate.strftime("%B %d, %Y") %><br />
							<% end %>
							<% if upcoming.isb? %>
								<% if upcoming.category == "Paperback" %>
									 ISBN: <%= upcoming.isb.to_s %>
								<% elsif upcoming.category == "Hardcover" %>
									 ISBN: <%= upcoming.isb.to_s %>
								<% end %>
							<% end %>
						</p>
						<% if upcoming.summary? %>
							<%= h upcoming.summary.html_safe %>
						<% end %>
						<ul class="list-inline">
							<% if upcoming.category == "Default" %>
								<% Book.where(:title => upcoming.title).where(:issue => upcoming.issue).where(rdate: (upcoming.rdate - 1.month)..(upcoming.rdate + 1.month)).where(:category => "Variant").where.not(:id => upcoming.id).each do |related| %>
									<li><%= link_to related, data: { toggle: "tooltip" }, :title => related.title + " #" + related.issue.to_s + " cover by " + related.cover do %><%= image_tag related.image.url(:thumb), class: "img-responsive img-rel2 img-shadow",:alt => related.title + " cover by " + related.cover %><% end %><br />
									</li>
								<% end %>
							<% end %>
						</ul>
					</div>
					<div class="clearfix"><br /><br /></div>
				<% end %>
			</div>
	</div>

	</div>
