<div class="container">
  <h3>Valiant publication timeline (1991-1996)</h3>
        <%= timeline [
                      ["Archer & Armstrong", "1992-07-01", "1994-10-01"],
                      ["Armorines", "1993-09-01", "1995-06-01"],
                      ["Bloodshot", "1993-02-01", "1996-08-01"],
                      ["Chaos Effect", "1994-06-01", "1995-01-01"],
                      ["Deathmate", "1993-07-01", "#1994-02-01"],
                      ["Eternal Warrior", "1992-08-01", "1996-06-01"],
                      ["Geomancer", "1994-11-01", "1995-06-01"],
                      ["Harbinger", "1992-01-01", "1995-06-01"],
                      ["H.A.R.D. Corps", "1992-12-01", "1995-06-01 "],
                      ["Magnus Robot Fighter", "1991-05-01", "1996-02-01"],
                      ["Ninjak", "1994-02-01", "1995-11-01"],
                      ["Psi-Lords", "1994-09-01", "1995-06-01"],
                      ["Rai", "1992-03-01", "1995-06-01"],
                      ["Second Life of Doctor Mirage", "1993-11-01", "1995-05-01"],
                      ["Secret Weapons", "1993-09-01", "1995-05-01"],
                      ["Shadowman", "1992-05-01", "1995-12-01"],
                      ["Solar, Man of the Atom", "1991-09-01", "1996-04-01"],
                      ["The Visitor", "1995-02-01", "1995-11-01"],
                      ["Timewalker", "1995-01-01", "1996-03-01"],
                      ["Turok: Dinosaur Hunter", "1993-07-01", "1996-08-01"],
                      ["Unity", "1992-08-01", "1992-10-01"],
                      ["X-O Manowar", "1992-02-01", "1996-09-01"]
                    ], height: "1000px" %>
                  </div>