<div id="books">
<% if params[:query].present? %>
<%= render "search" %>
<% else %>
	<h2 class="white">Valiant Titles (1991-1996) by Release Date <div class="pull-right"><%= link_to releases_vh1bydate_table_path, :class => "btn btn-default btn-sm" do %>
            <span class="fa fa-list"></span> <span class="gone">Table View</span>
        <% end %>
    	<%= link_to releases_vh1bydate_path(format: "csv"), :class => "btn btn-success btn-sm" do %>
            <span class="glyphicon glyphicon-export"></span> <span class="gone">Export Releases</span>
        <% end %></div></h2>
    <p class="white">This page lists all the titles for classic Valiant (1991-1996) in chronological order by release date. This page will only show regular edition covers not variants or reprints for those of you just looking to see the books or catch up on your reading. If you'd like to see those, please browse the books by title which will show those covers as well.</p>
<% end %>
<%= render "book" %>
</div>