<% if params[:query].present? %>
<%= render "search" %>
<% else %>
	<h2 class="white">N.I.O. (Acclaim) <div class="pull-right"><%= link_to acclaim_nio_table_books_path, :class => "btn btn-default btn-sm" do %>
            <span class="fa fa-list"></span> <span class="gone">Table View</span>
        <% end %></div></h2>
<% end %>
<%= render "book" %>