<div class="wellclear">
	<h1 class="text-center">Oh, no! We couldn't find that!</h1>
	<div class="text-center col-md-12 col-sm-12 col-xs-12"><%= image_tag "https://s3.amazonaws.com/valiantdb/images/ninjak404.jpg", :alt => "Ninjak", class: "img-responsive center" %></div>
	<div class="container-fluid">
		<h3>Sorry you couldn't find what you needed, it makes Ninjak very sad. Maybe you should <%= link_to "head back home", root_url %> or try using the search box at the top of the page. If you think you got to this page in error, feel free to <%= link_to "contact us", new_contact_path %> and let us know!</h3>
	</div>
</div>