<div class="wellclear">
	<h1 class="text-center">Unexpected unit shutdown, error 500</h1>
	<div class="text-center col-md-12 col-sm-12 col-xs-12"><%= image_tag "https://s3.amazonaws.com/valiantdb/images/gingr500.jpg", :alt => "Gin-GR", class: "img-responsive center" %></div>
	<div class="container">
		<h3>It looks like Gin-GR is having trouble processing your request. We don't understand her technology quite yet, but we'll look into it. If you think you got to this page in error, feel free to <%= link_to "contact us", new_contact_path %> and let us know!</h3>
	</div>
</div>