<div class="wellclear">
	<h1 class="text-center">Unprocessable entity, please try again</h1>
	<div class="text-center col-md-12 col-sm-12 col-xs-12"><%= image_tag "https://s3.amazonaws.com/valiantdb/images/divinity422.jpg", :alt => "Divinity", class: "img-responsive center" %></div>
	<div class="container">
		<h3>Sorry, your request could not be understood by the server. Maybe Divinity can decipher its secrets? Until then, feel free to <%= link_to "contact us", new_contact_path %> and let us know if you have a problem.</h3>
	</div>
</div>