	<% if user_signed_in? && current_user.itemwishes?(@collectible) %>
		<%= link_to collectible_itemwish_path(@collectible), method: :delete, remote: true, class: "btn btn btn-danger btn-circle", title: "Remove from wishlist", data: { toggle: "tooltip", disable_with: "<span class='fa fa-minus'></span>"} do %><span class="fa fa-star-o"></span><% end %>
	<% else %>
		<%= link_to collectible_itemwish_path(@collectible), method: :post, remote: true, class: "btn btn-success btn-circle", title: "Add to wishlist", data: { toggle: "tooltip", disable_with: "<span class='fa fa-plus'></span>"} do %><span class="fa fa-star"></span><% end %>
	<% end %>