#stream a {
	font-style: italic;
	font-weight: bold;
}

#streambooks a {
	font-style: italic;
	font-weight: bold;
}

.stream-box {
	margin-bottom: 0.5em;
}

.time {
	opacity: 0.5;
}

.stream-rating .raty-cancel {
	display: none;
}

.progress {
  background-image: linear-gradient(to bottom, #bbb 0%, #ccc 100%)
}
