@media (max-width: 480px) {
.wellclear3 {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  background-color: white;
  box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  margin: 0 auto !important;
  width: 100%;
}
}

@media (min-width: 481px) and (max-width: 768px) {
.wellclear3 {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  background-color: white;
  box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  margin: 0 auto !important;
  width: 75%;
}
}

@media (min-width: 769px) and (max-width: 1023px) {
.wellclear3 {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  background-color: white;
  box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  margin: 0 auto !important;
  width: 62.5%;
}
}

@media (min-width: 1024px) {
.wellclear3 {
  margin-left: 2em;
  margin-right: 2em;
  padding: 0.5em;
  background-color: white;
  box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  -webkit-box-shadow: 0 4px 7px rgba(0,0,0,0.12), 0 2px 3px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
  margin: 0 auto !important;
  width: 50%;
}
}

#character-img {
  max-height: 300px;
}