    <!-- Footer -->

    <div id="cssmenu_bottom">
        <p class="text-center white fix">&trade; Valiant Database <%= Date.today.strftime("%Y") %>. Images and titles are trademark of their respective owners.
    </div>
